@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
    display: flex;
    justify-content: space-between;
    background-color: #24252A;
    align-items: center;
    text-transform: uppercase;
    padding: 30px 10%;
    z-index: 1;
    position: fixed;
    width: 100vw;
    
}

.logo {
    width: 180px;
    cursor: pointer;
}

header li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #EDf0F1;
    text-decoration: none;
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0 20px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: #0088A9;
}

header button {
    padding: 9px 25px;
    background-color: rgba(0,136,169,1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    text-transform: uppercase;
}

header button:hover {
    background-color: rgba(0,136,169,0.8);
}

main img {
    width: 100vw;
    max-height: 100vh;
    object-fit: cover;
}

.main__titles {
    position: absolute;
    top: 70vh;
    left: 6vw;
    background-color: #24252A;
    color: #EDf0F1;
    font-family: 'Poppins', sans-serif;
    padding: 1rem 3rem;
    border-radius: 0.5rem;
}

.main__titles h1 {
    font-weight: 900;
    font-size: 3rem;
}

.main__titles h3 {
    font-weight: 700;
    font-size: 2rem;
}

h2 {
    font-weight: 800;
    font-size: 2rem;
    color: #1c525f;
    margin: 10vh 0;
}

.container__bi {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section__bi {
    display: flex;
    justify-content: space-between;
    width: 90vw;
}

.div__bi {
    display: flex;
    flex-direction: column;
    justify-content:space-evenly
}

.bi__text {
    width: 45vw;
    font-weight: 500;
    font-size: 1.1rem;
    color: #24252A;
}

.section__bi img {
    width: 40vw;
    background-color: rgba(6, 95, 117, 0.8);
    padding: 1rem;
}

/* font-family: 'Montserrat', sans-serif;

font-family: 'Poppins', sans-serif;

font-family: 'PT Serif', serif; */